<div class="column flex full-width padding-10px border-box gap-1em blue-bg">
    <div class="row flex space-between-center fade-in">
        <div class="items-center gap-1em flex full-width">
            <div class="logo1 full-height">
            <!-- <div class="text-center"><h3>CoolCargo Hire</h3></div> -->
            </div>
            <!-- <div class="text-center"><h3>CoolCargo Hire</h3></div> -->
        </div>
        <!-- <div class="QR-code fade-in">
            <h3>QR code here</h3>
        </div> -->
    </div>
    <mat-divider></mat-divider>
    <div class=" flex row end fade-in">
        <mat-card class="padding-10px border-box text-center">
            <h3>About Us</h3>
            <p>At CoolCargo Hire, we specialize in reliable and efficient delivery services for frozen and perishable goods. Our mission is to ensure that your products reach your customers in perfect condition.</p>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class=" flex row fade-in">
        <mat-card class="padding-10px border-box text-center">
            <h3>What We Offer:</h3>
            <mat-divider></mat-divider><br>
            <div class="row flex gap-1em">
                <div class="column">
                    <span class="material-symbols-outlined">
                        local_shipping
                    </span>
                    <p><strong>Seamless Delivery:</strong></p>
                    <p>Manage the transportation of frozen and perishable items with precision and care.</p>
                </div>
                <div class="column">
                    <span class="material-symbols-outlined">
                        warehouse
                    </span>
                    <p><strong>Storage Of Goods:</strong></p>
                    <p>We offer secure storage of goods either that be returns or items to be deilvered.</p>
                </div>
                <div class="column">
                    <span class="material-symbols-outlined">
                        sentiment_satisfied
                    </span>
                    <p><strong>Reliable Service:</strong></p>
                    <p>Our reliable service makes who we are and keeps our client at ease.</p>
                </div>
            </div>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="row flex center-center fade-in">
        <div class="container">
            <app-slider [slides]="slides"></app-slider>
         </div>
    </div>
    <mat-divider></mat-divider>
    <div class=" flex row center-center fade-in">
        <mat-card class="padding-10px border-box text-center gap-1em full-width">
            <h3>Contact us</h3>
            <mat-chip>
                <div class="flex row center-center gap-1em">
                    <span class="material-symbols-outlined">
                        phone
                    </span>
                    <p class="no-margin">073 881 1485</p>
                </div>
            </mat-chip>
            <mat-chip>
                <div class="flex row center-center gap-1em">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <a href="mailto:stantheko@icloud.com">stantheko&#64;icloud.com</a>
                </div>
            </mat-chip>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="center-center flex fade-in">
        <footer class="text-center">Developed by Infinite Solutions ®️ - All Rights Reserved ™️</footer>
    </div>
</div>
